@media(max-width: 991px) {

	#ul-custom {
		margin-right: -40px;
	}

	#ul-custom > li {
		padding-left: 15px;
		padding-right: 15px;
	}

	#meow-kling-brand {
		margin-left: -20px;
	}

}

@media(max-width: 768px) {

	#meow-kling-brand {
		margin-left: 0px;
	}

	#menu-button {
		margint-right: 0px;
	}
	
	#underConstructionContainer > img {
		height: 200px;
		width: 200px;
	}

}
